.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: 0.3s all;
  padding: 1rem;
  &:hover {
    background-color: var(--color-grey);
    cursor: pointer;
  }
}

.username {
  font-size: 2rem;
  padding-left: 2.5rem;
  flex: 1;
}

.image {
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid var(--color-dark);
}
